@model Management.Business.Business.Member
@using Management.Business.Business;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/create.js"></script>
<h1>Register Member</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMember" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Name", "Name *")
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @* Load EnumMemberTypes *@
            <div class="form-group" style="margin-bottom: 10px;">
                @Html.Label("MemberType", "Type of Member *")
                <select class="custom-select" asp-for="MemberType" asp-items="Html.GetEnumSelectList<EnumMemberType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="MemberType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="display: block;">Tags</label>
                <select class="selectpicker form-control" name="listTags" id="listTags" multiple>
                    <option selected="selected" value="0">Please select the Tags</option>
                    @foreach (var item in ViewBag.TagList)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                </select>
                <span class="text-danger"><span id="spanTags" style="display:none;">Please, select at least one Tag</span></span>
            </div>

            <!-- #region DIVCONTRACTOR -->
            <div id="divContractor" style="display: none;">
                <div class="form-group">
                    <label asp-for="Date_StartTerm" class="control-label"></label>
                    <input asp-for="Date_StartTerm" class="form-control" />
                    <span class="text-danger"><span id="spanStartDate" style="display:none;">Start Date cannot be empty</span></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date_EndTerm" class="control-label"></label>
                    <input asp-for="Date_EndTerm" class="form-control" />
                    <span class="text-danger"><span id="spanEndDate" style="display:none;">End Date cannot be empty</span></span>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region DIVEMPLOYEE -->
            <div id="divEmployee" style="display: none; margin-bottom: 10px;">
                <div class="form-group">
                    <label>Employee Role</label>
                    <select class="custom-select" name="RoleId" id="RoleId">
                        <option selected="selected" value="0">Please select</option>
                        @foreach (var item in ViewBag.RoleList)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }
                    </select>
                    <span class="text-danger"><span id="spanRole" style="display:none;">Please, select the member role</span></span>
                </div>
            </div>
            <!-- #endregion -->

            <div class="form-group">
                <input type="submit" value="Create" id="btnSubmit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to Main Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


